@tailwind base;
@tailwind components;
@tailwind utilities;

<link rel="preconnect" href="https://rsms.me/">
<link rel="stylesheet" href="https://rsms.me/inter/inter.css">

:root {
  --foreground-rgba:rgba(15,23,42);
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgba(15,23,42); 
}
:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}